<nav class="navbar navbar-expand-lg" style="background-image: linear-gradient(to right, rgb(27, 33, 37), rgb(1, 6, 67, 255));">
    <div class="container-fluid">
      <h3 class="navbar-brand" style="font-size: 25px; color: aliceblue;">Shopping App</h3>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" style="font-size: 20px; color: aliceblue;">Hello Aaryan</a>
                </li>
            </ul>
            <form>
            <input class="form-control me-2"  style="width: 500px; margin-left: 20px;">
            </form>
            <button class="btn btn-primary" style="color: aliceblue; background-color: rgb(1, 6, 67, 255); border-color: aliceblue; margin-left: 25px;" type="submit">Search</button>
            <div style="margin-left: 25px;" class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="color: aliceblue;" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Account
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                      <li><p class="dropdown-item" style="background-color: rgb(1, 6, 67, 255);">Action</p></li>
                      <li><p class="dropdown-item" style="background-color: rgb(1, 6, 67, 255);">Another action</p></li>
                      <li><p class="dropdown-item" style="background-color: rgb(1, 6, 67, 255);">Something else here</p></li>
                    </ul>
                  </li>
                </ul>
            </div>
            <button class="btn btn-primary" style="background-color: rgb(1, 6, 67, 255); border: none; color: aliceblue; margin-left: 20px; font-size: 20px;">Your Orders</button>
            <button class="btn btn-primary" style="background-color: rgb(1, 6, 67, 255); border: none; color: aliceblue; margin-left: 20px; font-size: 25px;">Cart</button>
        </div>
    </div>
</nav>
